#wlcm{
    color:#78A083 ;
}
body{
 background-color: #344955;
}
#idea{
    text-align: center;
    text-decoration:solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B0C5A4;
}
#NAV{
    display: flex;
  justify-content:flex-end;
  align-items: right;
}
.fl{
    padding: 1rem 1rem;
    background-color: #e6b758;
    border: solid;
    border-radius: 170px;
}