#wlcm{
    color:#78A083 ;
}
body{
 background-color: #344955;
}
#idea{
    text-align: center;
    text-decoration:solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B0C5A4;
}